.main {
  width: 980px;
  height: 455px;
  margin-left: 220px;
}
.main .focus {
  float: left;
  width: 721px;
  height: 455px;
  background: pink;
}
.main .focus a {
  display: block;
  width: 721px;
  height: 455px;
}
.main .newflash {
  float: right;
  width: 250px;
  height: 455px;
  background: yellowgreen;
}
